
.list {
    margin-bottom: 30px;

    &__add-button {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;
        margin-bottom: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.active {
            background: #FFFFFF;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
        }

        .badge {
            position: relative;
            left: 5px;
        }

        i {
            display: inline-flex;
            margin-right: 10px;

            img {
                opacity: 0.6;
            }
        }


    }
}

.button {
    background: #4DD599;
    border-radius: 4px;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: darken(#4DD599, 6%);
    }
    &:active {
        background-color: darken(#4DD599, 10%);
    }
}

.field {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px 8px 8px;
    width: 100%;

    &:focus {
        border-color: #afacac;
    }
}
