
.list {
    margin-bottom: 30px;

    &__add-button {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;
        margin-bottom: 5px;

        &.active {
            background: #FFFFFF;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
        }

        i {
            display: inline-flex;
            margin-right: 10px;

            img {
                opacity: 0.6;
            }
        }

        .badge {
            width: 10px;
            height: 10px;
            border-radius: 30px;
            position: relative;
            left: 3px;

            &--green {
                background-color: #42B883;
            }

            &--blue {
                background-color: #64C4ED;
            }

            &--pink {
                background-color: #FFBBCC;
            }

            &--green-2 {
                background-color: #B6E6BD;
            }

            &--grey {
                background-color: #C9D1D3;
            }
        }
    }
}

.button {
    width: 200px;
    height: 37px;
    background: #4DD599;
    border-radius: 4px;
}

.field {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px 8px 8px;
    width: 100%;

    &:focus {
        border-color: #afacac;
    }
}
