.tasks {
  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;

    &:hover {
      img {
        opacity: 0.3;
      }
    }
    img {
      margin-left: 15px;
      opacity: 0;
      &:hover {
        opacity: 3;
        cursor: pointer;
      }
    }
  }

  &__items {
    margin-top: 20px;
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      img {
        margin-left: 15px;
        opacity: 0.1;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
    p {
      margin-left: 15px;
      flex: 1 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      height: 1.2em;
      white-space: nowrap;
    }
    h2 {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 22px;
      color: #3b3b3b;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  .checkbox {

    input:checked + label  {

      background: #4DD599;
      border-color: #4DD599;
      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }


    input {
      display: none;
    }

    &:hover {
      label {
        background: #F2F2F2;
        border-color: #F2F2F2;
        svg {
          opacity: 1;
          path {
            stroke: #B3B3B3;
          }
        }
      }
    }

    label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #E8E8E8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;

      svg {
        opacity: 0;
      }
    }

  }

  &__form {

    &-block {
      .button--grey {
        margin-left: 10px;
        margin-top: 15px;
      }
      input {
        margin-top: 20px;
      }

    }
     &-new {
       display: flex;
       align-items: center;
       margin-top: 30px;

       img {
         width: 16px;
         height: 16px;
         cursor: pointer;
         opacity: 0.5;

         &:hover {
           opacity: 1;
         }
       }

       span {
        color: #B4B4B4;
         font-size: 16px;
         margin-left: 19px;
       }
     }
    &-block {

    }
  }


}


